.grid {
  display: grid;
  gap: var(--space-6);
}

.two {
  grid-template-columns: 1fr;
}

.three {
  grid-template-columns: 1fr;
}

@media (min-width: 720px) {
  .two {
    grid-template-columns: 1fr 1fr;
  }

  .three {
    grid-template-columns: repeat(3, 1fr);
  }
}
